body {
    background-color: rgb(116, 155, 160);
  }
table, th, td {
    border: 1px solid;
  }
  table, th, td {
    border: 2px solid;
  }
  table {
    width: 80%;
  }
  
  th {
    background-color: #000000;
    color: white;
  }

  td {
    background-color: #e60909;
    color: white;
  }